:root {
  --grid-gap: 0.3in;
  --image-size: 3in;
}

.picture-frame {
  border: 1in solid black;
  width: 18in;
  height: 24in;
  margin-bottom: 1000px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--grid-gap);
}

.row {
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--grid-gap);
}

.row-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
}

img {
  max-width: var(--image-size);
  max-height: var(--image-size);
  border: 3px solid black;
}

p {
  display: block;
  margin: 0;
  font-family: 'Arial';
  font-size: 1.25rem;
}

.width-measurement {
  top: 2.7in;
  left: calc(1in + (18in / 2) - 60px);
  position: absolute;

  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.height-measurement {
  font-size: 2rem;
  position: absolute;
  top: calc(60px + 1in + (24in / 2));
  left: 18in;
  transform: rotate(90deg);
}

.image-info {
  margin-bottom: 1rem;
}

.image-info p {
  font-size: 1.5rem;
}

