:root {
  --grid-gap: 0.3in;
  --image-size: 3in;
}

.picture-frame {
  border: 1in solid black;
  width: 18in;
  height: 24in;
  margin-bottom: 1000px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--grid-gap);
}

.row {
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--grid-gap);
}

.row-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
}

img {
  max-width: var(--image-size);
  max-height: var(--image-size);
  border: 3px solid black;
}

p {
  display: block;
  margin: 0;
  font-family: 'Arial';
  font-size: 1.25rem;
}

.image-info {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}


